<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @activity.content %>
</p>

<h2>Comments</h2>
<% @activity.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
<%= render @activity.comments %>

<h2>Add a comment:</h2>
<%= form_for([@activity, @activity.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>

  <p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', activities_path %>
<%= link_to 'Edit', edit_activity_path(@activity) %>